      <div class="main">
        <h1 data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500"> ---> GALLERY <---- </h1>
          <div class="card" >
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/2017082420080817_MG_2284.jfif" alt=""></ng-template>  
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/9f0b62aa32dc556b2ebfe00d8566ef12edf5bd14.jpg" alt=""></ng-template>  
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/_62340542_hi015737427.jpg" alt=""></ng-template> 
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/Game-696x391.jpg" alt=""></ng-template> 
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/karung6.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/lomba-jelang-hur-ri-ouh1qk-prv.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/Lomba-Makan-Kerupuk.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/OIP.jfif" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../../assets/daftar-lomba/sejarah-panjat-pinang-di-indonesia.jpg" alt=""></ng-template>      
              </owl-carousel-o>
          </div>
        </div>




