.navbar{
    background-color: black;
}

a{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

a:hover{
    color: rgb(255, 0, 0);
}

p{
    color: white;
    font-size: 1.3rem;
}

p:hover{
    color: rgb(255, 0, 0);
}