.navbar{
    background-color:rgb(34,34,41);
    position: sticky;
    top: 0px;
}

a{
    color: rgb(121,121,129);
    font-size: 18px;
    font-family: sans-serif;
}

a:hover{
    color: white;
}

p{
    color: rgb(121,121,129);
    font-size: 18px;
    font-family: Arial;
}

p:hover{
    color: white;
}