<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/sepak-takraw-the-animation.jpg" routerLink="/register-sepaktakraw">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
</div>