<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/1200px-Milwaukee_Bucks_logo.svg.png" routerLink="/detail-bolavoli-1">
        </div>
        <div class="des">
            <p>TEMA 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/445.gif" routerLink="/detail-bolavoli-2">
        </div>
        <div class="des">
            <p>TEAM 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/basketball_team_logo_6824054.jpg" routerLink="/detail-bolavoli-3">
        </div>
        <div class="des">
            <p>TEAM 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/crabaliers-final.jpg" routerLink="/detail-bolavoli-4">
        </div>
        <div class="des">
            <p>TEAM 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/large_thumb_stage.jpg" routerLink="/detail-bolavoli-5">
        </div>
        <div class="des">
            <p>TEAM 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/NBA_Chelsea.jpg" routerLink="/detail-bolavoli-6">
        </div>
        <div class="des">
            <p>TEAM 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/Team-Element-Logo-17.jpg" routerLink="/detail-bolavoli-7">
        </div>
        <div class="des">
            <p>TEAM 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/th (1).jfif" routerLink="/detail-bolavoli-8">
        </div>
        <div class="des">
            <p>TEAM 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/th (2).jfif" routerLink="/detail-bolavoli-9">
        </div>
        <div class="des">
            <p>TEAM 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/bolavoli/th.jfif" routerLink="/detail-bolavoli-10">
        </div>
        <div class="des">
            <p>TEAM 10</p>
        </div>
    </div>
</div>