<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEMA 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>TEAM 10</p>
        </div>
    </div>
</div>