<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/volleyball-bookhoodies-new-looks-for-your-books-hoodie-goodies-371477.jpg" routerLink="/register-bolavoli">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
</div>