<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/fox-basketball-team-badge-mascot-design-logo-concept-vector.jpg" routerLink="/detail-badminton-1">
        </div>
        <div class="des">
            <p>Team 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/J0m7xqi.jpg" routerLink="/detail-badminton-2">
        </div>
        <div class="des">
            <p>Team 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/Midwest_1.png" routerLink="/detail-badminton-3">
        </div>
        <div class="des">
            <p>Team 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/mzv2x3.jpg" routerLink="/detail-badminton-4">
        </div>
        <div class="des">
            <p>Team 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/new-creighton-bluejays-logo-1.jpg" routerLink="/detail-badminton-5">
        </div>
        <div class="des">
            <p>Team 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/REGION_South_Charlotte-01.png" routerLink="/detail-badminton-6">
        </div>
        <div class="des">
            <p>Team 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/th (1).jfif" routerLink="/detail-badminton-7">
        </div>
        <div class="des">
            <p>Team 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/th (2).jfif" routerLink="/detail-badminton-8">
        </div>
        <div class="des">
            <p>Team 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/th.jfif" routerLink="/detail-badminton-9">
        </div>
        <div class="des">
            <p>Team 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/badminton/Youth-Basketball-Logo.png" routerLink="/detail-badminton-10">
        </div>
        <div class="des">
            <p>Team 10</p>
        </div>
    </div>
</div>