<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Team 10</p>
        </div>
    </div>
</div>