<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg" routerLink="/register-badminton">
        </div>
        <div class="des">
            <p>Daftar</p>
        </div>
    </div>
</div>