<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/god_of_war__ascension-wallpaper-1366x768.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>SEPAK BOLA</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/watch_dogs_hd-wallpaper-1366x768.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>SEPAK BOLA</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/need_for_speed_most_wanted_2013-wallpaper-1366x768.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>SEPAK BOLA</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/battlefield_3-wallpaper-1366x768.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>SEPAK BOLA</p>
        </div>
    </div>
</div>