<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/1200px-Seattle_SuperSonics_logo.svg.png" routerLink="/detail-sepakbola-1">
        </div>
        <div class="des">
            <p>TEAM 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/vOT035i.jpg" routerLink="/detail-sepakbola-2">
        </div>
        <div class="des">
            <p>TEAM 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/stock-vector-dragon-sport-logo-basketball-design-vintage-college-team-coat-of-arms-vector-logotype-template-480913495.jpg" routerLink="/detail-sepakbola-3">
        </div>
        <div class="des">
            <p>TEAM 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/Sacramento_Kings.jpg" routerLink="/detail-sepakbola-4">
        </div>
        <div class="des">
            <p>TEAM 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/las_vegas_aces_logo.png" routerLink="/detail-sepakbola-5">
        </div>
        <div class="des">
            <p>TEAM 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/KCKnightsBBMain.thumb.png.762fe8e27293ad1e0f5b3f5e70ef3dce.png" routerLink="/detail-sepakbola-6">
        </div>
        <div class="des">
            <p>TEAM 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/3ff6134e2b-450.png" routerLink="/detail-sepakbola-7">
        </div>
        <div class="des">
            <p>TEAM 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/6187e25c5182dafc02c532f4be3e0898.jpg" routerLink="/detail-sepakbola-8">
        </div>
        <div class="des">
            <p>TEAM 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/Atlanta-Hawks-Logo-design.jpg" routerLink="/detail-sepakbola-9">
        </div>
        <div class="des">
            <p>TEAM 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/sepakbola/image-450w-270996839.jpg" routerLink="/detail-sepakbola-10">
        </div>
        <div class="des">
            <p>TEAM 10</p>
        </div>
    </div>
</div>