<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/CzRbmup8xB.jpg" routerLink="/register-sepakbola">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
</div>