.main{
    background-color: rgb(231,227,218);
}
h1{
    text-align: center;
    padding-top: 30px;
    font-style: bold;
    font-size: 2rem;
    font-weight: 500;
}
h2{
    margin: 2%;
}
.card{
    outline: none;
    width: 21%;
    display: inline-block;
    border-radius: 5px; 
    margin: 2%;
}
.image img{
    outline:none;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

img{
    width: 250px;
    height: 250px;
}
p{
    text-align: center;
    font-weight: 650;
    padding-top: 10px;
}
input{
    margin-left: 30px;
    padding: 10px;
    border: none;
}
.des input{
    border: none;
    margin: 5px;
}

button{
    border: none;
    outline: none;
    margin-left: 45rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: blue;
    font-size: 1.2rem;
}
button:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.image input{
    margin: 0px;
}