<div class="main">
  <h1>--> Register Team Tournament <--</h1>
  <input type="text" placeholder="Name Team">
  <input type="text" placeholder="Lokasi Basecamp">
  <button>Register Team</button>
  <h2>Anggota Team :</h2>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img [src]="imageUrl"/>
    </div>
    <div class="des">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="No. Telp">
    </div>
  </div>
</div>