<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/dota_2_blue_edition-wallpaper-1366x768.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>MAKAN KERUPUK</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/assassins_creed_3_connor_free_running-wallpaper-1366x768.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>MAKAN KERUPUK</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/cyberpunk_2080-wallpaper-1366x768.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>MAKAN KERUPUK</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/pubg_level_3_helmet_player-wallpaper-1366x768.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>MAKAN KERUPUK</p>
        </div>
    </div>
</div>