<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
</div>