<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/e29f5738a352d7ff453d02fdad708c02.jpg" routerLink="/register-makankerupuk">
        </div>
        <div class="des">
            <p>TEAM 10</p>
        </div>
    </div>
</div>