<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/500_F_277950498_PrtIbgrtxoiyD9vkGNsYOqIwWNQeF8mV.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
</div>