<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/assassins_creed_3_connor_free_running-wallpaper-1366x768.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>BASKET BALL</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/75_indonesia.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>BASKET BALL</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/cyberpunk_2080-wallpaper-1366x768.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>BASKET BALL</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/resident_evil_6_characters_3-wallpaper-1366x768.jpg" routerLink="/register-basketball">
        </div>
        <div class="des">
            <p>BASKET BALL</p>
        </div>
    </div>
</div>