<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/2017_06_08_18_43_13_574de0f6-9df1-4cb8-8ce9-ab20b6c0e009_swarm-basketball-association-sports-logo.png" routerLink="/detail-basketball-1">
        </div>
        <div class="des">
            <p>TEAM 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/5885238954d28_KCPrimary.png.352aeea510a0c93f7eb4557026040c33.png" routerLink="/detail-basketball-2">
        </div>
        <div class="des">
            <p>TEAM 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/61cc4b2b926854a694ed072f6dd1c50f.png" routerLink="/detail-basketball-3">
        </div>
        <div class="des">
            <p>TEAM 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/7550_chicago_sky-primary-2019.png" routerLink="/detail-basketball-4">
        </div>
        <div class="des">
            <p>TEAM 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/961667-nba-team-logos-wallpaper-2018-1920x1200-macbook.jpg" routerLink="/detail-basketball-5">
        </div>
        <div class="des">
            <p>TEAM 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/aau-basketball-logo.jpg" routerLink="/detail-basketball-6">
        </div>
        <div class="des">
            <p>TEAM 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/Basketball-Team-Logo.jpg" routerLink="/detail-basketball-7">
        </div>
        <div class="des">
            <p>TEAM 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/BasketballLogo10.jpg" routerLink="/detail-basketball-8">
        </div>
        <div class="des">
            <p>TEAM 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/Chicago-Bulls.jpg" routerLink="/detail-basketball-9">
        </div>
        <div class="des">
            <p>TEAM 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/basket/ddd8a118818733.562cfd4f83077.png" routerLink="/detail-basketball-10">
        </div>
        <div class="des">
            <p>TEAM 10</p>
        </div>
    </div>
</div>