.main{
    background-color: rgb(231,227,218);
}

.card{
    margin: 2% 2%;
    background-color: rgb(231,227,218);
}

h1{
    text-align: center;
    padding-top: 30px;
    font-style: bold;
    font-size: 2rem;
    font-weight: 500;
}
