
    <div class="main">
        <div class="card">
            <div class="image">
                <img src="./../../assets/assassins_creed_3_connor_free_running-wallpaper-1366x768.jpg" routerLink="/badminton">
            </div>
            <div class="des">
                <p>BADMINTON</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/battlefield_3-wallpaper-1366x768.jpg" routerLink="/basket">
            </div>
            <div class="des">
                <p>BASKET</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/destiny_2_2017_video_game-wallpaper-1366x768.jpg" routerLink="/balap-kelereng">
            </div>
            <div class="des">
                <p>BALAP KELERENG</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/dota_2_blue_edition-wallpaper-1366x768.jpg" routerLink="/balap-karung">
            </div>
            <div class="des">
                <p>BALAP KARUNG</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/final_fantasy_3-wallpaper-1366x768.jpg" routerLink="/makan-kerupuk">
            </div>
            <div class="des">
                <p>MAKAN KERUPUK</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/god_of_war__ascension-wallpaper-1366x768.jpg" routerLink="/sepak-bola">
            </div>
            <div class="des">
                <p>SEPAK BOLA</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/need_for_speed_most_wanted_2013-wallpaper-1366x768.jpg" routerLink="/sepak-takraw">
            </div>
            <div class="des">
                <p>SEPAK TAKRAW</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/pubg_level_3_helmet_player-wallpaper-1366x768.jpg" routerLink="/bola-voli">
            </div>
            <div class="des">
                <p>BOLA VOLI</p>
            </div>
        </div>
    </div>