.main{
    background-color: rgb(231,227,218);
}
h1{
    text-align: center;
    padding-top: 30px;
    font-style: bold;
    font-size: 2rem;
    font-weight: 500;
}
.card{
    outline: none;
    width: 21%;
    display: inline-block;
    border-radius: 5px; 
    margin: 2%;
}
.image img{
    outline:none;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
p{
    text-align: center;
    font-weight: 650;
    padding-top: 10px;
}
.pagination-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* searchbar */
.well {
	background-color: #ffffee
  }
  
  #content {
	padding: 5% 25% 5%;  
  }
  
  .search-form {
	border-radius: 30px 0 0 30px;
  }
  
  .input-group {
  width:100%;
  }
  
  .input-group-btn {
  max-width:38px;
  }
  
  #search {
  border: 1px;
  
  }
  
  .search-btn {
  outline: none;
	cursor:pointer;
	border-radius: 0 30px 30px 0; 
	background-color:#fff;
	color:#669;
  }
