<div class="login-container d-flex align-items center justify-content-center">
  <form class="login-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div class="form-group">
      <input
        type="text"
        class="form-control rounded-pill form-control-lg"
        placeholder="Username"
        formControlName="username"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control rounded-pill form-control-lg"
        placeholder="Email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control rounded-pill form-control-lg"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control rounded-pill form-control-lg"
        placeholder="Phone Number"
        formControlName="phone number"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control rounded-pill form-control-lg"
        placeholder="City"
        formControlName="city"
      />
    </div>
    <div class="form-group">
      <input
        type="number"
        class="form-control rounded-pill form-control-lg"
        placeholder="Birtday"
        formControlName="birtday"
      />
    </div>
    <div class="form-group">
      <input
        type="number"
        class="form-control rounded-pill form-control-lg"
        placeholder="Phone"
        formControlName="phone"
      />
    </div>
    <div class="forgot-link d-flex align-items center justify-content-between">
      <div class="form-check">
        <input type="checkbox" class="check-form-input" id="remember" />
        <label for="remember">Remember Password</label>
      </div>
      <a routerLink="/forgot-password">Forgot Password</a>
    </div>
    <button
      type="submit"
      class="btn mt-3 btn-primary btn-block rounded-pill btn-lg"
    >
      Register
    </button>
  </form>
</div>
