.homepage {
    background: url(../../../assets/daftar-lomba/CzRbmup8xB.jpg);
    background-size: cover;
    height: 60vh;
    justify-content: center;
}

.title{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

h3{
    padding-top:5px;
    font-size: 3rem;
}

.navbar{
    background-color: rgb(90, 15, 15);
}

li a{
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}

li a:hover{
    color: white;
}