.table {
  border-collapse: collapse;
  margin: auto;
  font-size: 1.3rem;
}

.table thead tr {
  background-color: black;
  color: white;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 20px 25px;
}

.table tbody tr {
  border: 1px solid black;
}

.table tbody td {
  border: 1px solid black;
}

.info {
  margin: 2%;
}

button {
  outline: none;
  margin: 2%;
  background-color: blue;
  color: white;
}
