<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th colspan="4">Nama Team</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th>No</th>
            <td>Nama</td>
            <td>Email</td>
            <td>No. Telp</td>
          </tr>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>