<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/watch_dogs_hd-wallpaper-1366x768.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>BALAP KARUNG</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/resident_evil_6_characters_3-wallpaper-1366x768.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>BALAP KARUNG</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/pubg_level_3_helmet_player-wallpaper-1366x768.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>BALAP KARUNG</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/prince_of_persia_the_forgotten_sands_2-wallpaper-1366x768.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>BALAP KARUNG</p>
        </div>
    </div>
</div>