<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/6238_queensland_reds-alternate-0.png" routerLink="/detail-bakarung-1">
        </div>
        <div class="des">
            <p>TEAM 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/713294.jpg" routerLink="/detail-balapkarung-2">
        </div>
        <div class="des">
            <p>TEAM 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/attachment_80458293.jfif" routerLink="/detail-balapkarung-3">
        </div>
        <div class="des">
            <p>TEAM 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/e783df24411561.56333c175504e.jpg" routerLink="/detail-balapkarung-4">
        </div>
        <div class="des">
            <p>TEAM 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/fwxna1.jpg" routerLink="/detail-balapkarung-5">
        </div>
        <div class="des">
            <p>TEAM 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/im2.jpg" routerLink="/detail-balapkarung-6">
        </div>
        <div class="des">
            <p>TEAM 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/jbUDPJSj0uXbR3x6z-bCoSJ0jpDBaBz_-36MEeszBcs.png" routerLink="/detail-balapkarung-7">
        </div>
        <div class="des">
            <p>TEAM 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/mafia-mascot-logo-.jpg" routerLink="/detail-balapkarung-8">
        </div>
        <div class="des">
            <p>TEAM 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/maxresdefault.jpg" routerLink="/detail-balapkarung-9">
        </div>
        <div class="des">
            <p>TEAM 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-karung/nhl-nashville-predators-logo-wallpaper.png" routerLink="/detail-balapkarung-10">
        </div>
        <div class="des">
            <p>TEAM 10</p>
        </div>
    </div>
</div>