<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/143652375-lomba-balap-karung-17-agustus-translate-sack-race-competition-on-17th-august-indonesian-independence.jpg" routerLink="/register-balapkarung">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
</div>