      <div class="main">
        <h1 data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500"> ---> GALLERY <---- </h1>
          <div class="card" >
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="../../assets/badminton.jpg" alt=""></ng-template>  
                <ng-template carouselSlide><img src="../../assets/Basketball-hd-resolution-wallpaper.jpg" alt=""></ng-template>  
                <ng-template carouselSlide><img src="../../assets/sepak bola.jpg" alt=""></ng-template> 
                <ng-template carouselSlide><img src="../../assets/Fishing_Soft_Lure_Umpan_Pancing_Udang_Besar_Mancing_Ikan_di_.jpg" alt=""></ng-template> 
                <ng-template carouselSlide><img src="../../assets/balapkelereng.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../assets/balapkarung.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../assets/makankerupuk.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../assets/panjat_pinang_wpap_by_adityasp-d7vmoh9.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../assets/takraw-carbon-wallpaper.png" alt=""></ng-template>
                <ng-template carouselSlide><img src="../../assets/voli.jpg" alt=""></ng-template>        
              </owl-carousel-o>
          </div>
        </div>




