.card{
    background-color: rgb(231,227,218);
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

h1{
    text-align: center;
    padding-top: 30px;
    font-style: bold;
    font-size: 2rem;
    font-weight: 500;
}

.main{
    background-color: rgb(231,227,218);
}