<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/god_of_war__ascension-wallpaper-1366x768.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>BALAP KELERENG</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/75_indonesia.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>BALAP KELERENG</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/dota_2_blue_edition-wallpaper-1366x768.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>BALAP KELERENG</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/assassins_creed_3_connor_free_running-wallpaper-1366x768.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>BALAP KELERENG</p>
        </div>
    </div>
</div>