<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/daftar-lomba/tumblr_nqlakemaJJ1uy7p6no1_1280.jpg" routerLink="/register-balapkelereng">
        </div>
        <div class="des">
            <p>DAFTAR</p>
        </div>
    </div>
</div>