<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/1200px-London_Irish.svg.png" routerLink="/detail-balapkelereng-1">
        </div>
        <div class="des">
            <p>TEAM 1</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/1200px-Randwick_rugby_logo.svg.png" routerLink="/detail-balapkelereng-2">
        </div>
        <div class="des">
            <p>TEAM 2</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/136-1361929_while-the-seven-teams-competing-in-the-inaugural.png" routerLink="/detail-balapkelereng-3">
        </div>
        <div class="des">
            <p>TEAM 3</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/31-512.png" routerLink="/detail-balapkelereng-4">
        </div>
        <div class="des">
            <p>TEAM 4</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/340.png" routerLink="/detail-balapkelereng-5">
        </div>
        <div class="des">
            <p>TEAM 5</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/3723_central_cheetahs-primary-2005.png" routerLink="/detail-balapkelereng-6">
        </div>
        <div class="des">
            <p>TEAM 6</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/Edinburgh-Rugby-Logo.gif" routerLink="/detail-balapkelereng-7">
        </div>
        <div class="des">
            <p>TEAM 7</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/New_Zealand_Warriors_logo.jpg" routerLink="/detail-balapkelereng-8">
        </div>
        <div class="des">
            <p>TEAM 8</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/Racing Metro Expereince logo.png" routerLink="/detail-balapkelereng-9">
        </div>
        <div class="des">
            <p>TEAM 9</p>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../../../assets/balap-kelereng/Uar_rugby_logo.png" routerLink="/detail-balapkelereng-10">
        </div>
        <div class="des">
            <p>TEAM 10</p>
        </div>
    </div>
</div>