
.login-container{
    height: 66vh;
    width: 100%;
    background-image: url(../../../assets/background/banner4.jpg);
    background-size: cover;
}
.login-form{
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}
.form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
h1{
    text-align: center;
}

.forgot-link {
    outline: none;
}