<div class="homepage">
    <div class="title">
        <h3>Welcome to Tournament Balap Karung</h3>
    </div>
</div>
<nav class="navbar navbar-expand-lg ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="team">Team</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="informasi">Informasi</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="bracket">Bracket</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="daftar">Daftar</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>