.homepage {
  background: url(../../../assets/daftar-lomba/34cefb09c5fa01d101e3b1f9b685e2c7.jpg);
  background-size: cover;
  height: 64vh;
  justify-content: center;
}

.title {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  padding-top: 5px;
  font-size: 3rem;
  padding-top: 70px;
  color: white;
}

.navbar {
  background-color: rgb(90, 15, 15);
}

li a {
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
}

li a:hover {
  color: white;
}
