<div class="login-container d-flex align-items center justify-content-center">
    <form class="login-form">
        <h1 class="mb-5 font-weight-light text-uppercase">Daftar Team</h1>
        <div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Age">
        </div>
        <div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="District">
        </div>
        <div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Name Team">
        </div>
        <div class="forgot-link d-flex align-items center justify-content-between">
            <div class="form-check">
                <input type="checkbox" class="check-form-input" id="remember">
                <label for="remember">Remember Password</label>
            </div>
            <a href="#">Forgot Password</a>
        </div>
        <button type="submit" class=" btn mt-5 btn-primary btn-block rounded-pill btn-lg">Submit</button>
    </form>
</div>