<div class="info">
    <h1>PRIZE POOL</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Place</th>
        <th>Rp</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1st</td>
        <td></td>
      </tr>
      <tr>
        <td>2nd</td>
        <td></td>
      </tr>
      <tr>
        <td>3rd</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="info">
    <div>
      <h1>DESKRIPSI</h1>
      <p>
        PENDAFTARAN Informasi pendaftaran bisa menghubungi nomor berikut (WA ONLY)
        0811-8434-312 0811-1779-189 0811-8434-211
      </p>
    </div>
    <hr />
    <div>
      <h1>WAKTU PENDAFTARAN</h1>
      <p>Hari : Senin</p>
      <p>Tanggal Mulai : 20 Desember 2020</p>
      <p>Tanggal Selesai : 21 Desember 2020</p>
      <p>Jam Mulai : 10.00</p>
      <p>Jam Selesai : 14.00</p>
    </div>
    <hr />
    <div>
      <h1>PERATURAN TURNAMENT</h1>
      <h3>Peraturan pertandingan (WAJIB DIBACA!!!)</h3>
      <h3>A. General / Aturan Umum</h3>
    </div>
    <div>
      <p>
        1. Setiap tim yang berpartisipasi diwajibkan untuk SALAH SATU PERWAKILAN
        TIM memiliki akun ZINGA GAMES.ID
      </p>
      <p>2. Bentuk tim di dalam platform ini agar pendaftaran lebih mudah</p>
      <p>3. Isi semua data yang diminta pada saat pendaftaran akun</p>
    </div>
    >
    <hr />
    <h3>B. LARANGAN:</h3>
    <div>
      <p>
        1. Setiap peserta wajib menjunjung tinggi sportifitas dalam kompetisi dan
        menjunjung prinsip fairplay serta tidak mengkampanyekan tindakan negatif.
      </p>
      <p>
        2. Setiap peserta diwajibkan untuk bermain dengan serius setiap
        pertandingannya dan dilarang untuk sengaja mengalah.
      </p>
      <p>
        3. Dilarang keras memprovokasi peserta lain untuk berkelahi, berkata
        kasar, mengandung sara. Jika melanggar, peserta akan didiskualifikasi
      </p>
    </div>
    >
    <hr />
    <h3>C. AKHIR:</h3>
    <div>
      <p>
        1. Keputusan panitia dan penyelenggara adalah mutlak dan tidak dapat
        diganggu gugat
      </p>
      <p>
        2. Seluruh peserta wajib mengikuti seluruh rangkaian acara sampai selesai
        tanpa terkecuali.
      </p>
      <p>
        3. Seluruh peserta wajib membaca dan menerima segala aturan yang berlaku
      </p>
      <p>
        4. Peraturan dapat berubah sewaktu-waktu tanda ada pemberitahuan terlebih
        dahulu demi kelancaran ACARA
      </p>
      <p>
        5. Dengan mendaftar, setiap peserta dianggap telah mengerti sepenuhnya dan
        setuju dengan peraturan yang telah dibuat serta siap menerima sanksi
        apabila melanggar
      </p>
    </div>
    >
  </div>
  
  <button routerLink="/register-turnament">Register Turnament</button>
  