.card{
    outline: none;
    width: 21%;
    display: inline-block;
    border-radius: 5px; 
    margin: 2%;
}
.image img{
    outline:none;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
p{
    text-align: center;
    font-weight: 650;
    padding-top: 10px;
}